@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.playfair,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #bd9867;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.projectsSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Group_3.webp?v=1719605230");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Group_2.webp?v=1719605230");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Group_1.webp?v=1719605230");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
